.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  flex-direction: row;
  align-items: flex-center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.deletePost {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #222;
}

.deleteIcon {
  float: right;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  outline: none;
}

.link-button:hover,
.link-button:focus,
.link-button:active {
  text-decoration: none;
  outline: none;
}

.submitbutton {
  background-color: #ff9800;
  margin: 10px;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.autocomplete input {
  width: calc(300px + 1rem);
}

.autocomplete {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 170px;
  width: 350px;
  background-color: white;
  border: 1px solid black;
}

.suggestions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 0;
  list-style: none;
  height: 100%;
  overflow-y: auto;
  padding-left: 0;
  width: 100%;
  position: relative;
  background-color: white;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #ff8e42;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.App-link {
  color: #09d3ac;
}

.postlist {
  text-align: left;
  background: #ffa500;
  border-radius: 20px;
  padding: 30px;
  margin: 10px;
  display: block;
  width: 100%;
}

.userlist {
  text-align: left;
  background: #ffa500;
  border-radius: 20px;
  padding: 30px;
  margin: 10px;
  display: block;
  width: 100%;
  justify-content: space-between;
}

.postbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 14px;
  color: #444;
}

.sidenav {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: blue;
}

.sidenav ul {
  list-style-type: none;
  padding: 10px;
  margin: 0px;
  margin-top: 40px;
}

.sidenav-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}

.hide {
  display: none;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

