.MainHeading {
    text-align: center;      
    margin-top: 50px;        
    color: #333;
  }

.SubHeading {
    text-align: center;      
    margin-top: 50px;        
    color: #333;
    margin-top: 20px;
    font-size: 18px;
}

.create-group-btn {
    padding: 15px 20px;
    font-size: 16px;
    width: auto;
    border-radius: 8px;
    background-color: #333; 
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .create-group-btn:hover {
    background-color: #595959; 
  }

  .create-group-input {
    width: 200px; 
    height: 33px; 
    font-size: 16px; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 8px;
  }

/* Styles for the group list section */

  .GroupListSection h3 {
    font-size: 24px;
    color: #333;  
    text-align: center;  
    margin-bottom: 15px;
  }
  
/* Style for the individual groups */
.userlist {
    background-color: #d6d6d6;  
    border-radius: 10px;  
    padding: 15px;  
    margin: 10px 20px;  
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    width: 400px;
    height: 80px;
    color: #333;
    font-weight: bold;
    display: inline-block;
  }

  .userlist h4 {
    font-weight: bold;
    text-align: center;
    margin: 0;  
  }
  
  .userlist .deletePost img {
    width: 25px;  
    height: 25px;
    cursor: pointer; 
  }
  
  /* Hover effect for each group */
  .userlist:hover {
    background-color: #a4a4a4;  
    transform: scale(1.02);  
    transition: transform 0.2s ease, background-color 0.2s ease;  
  }

  .comment-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #333; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
  }
  
  .comment-button:hover {
    background-color: #333;
  }
  
  
  

  
  

  
  

