.friends-page-container {
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.friend-form {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: rgb(70, 70, 70);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.332);  
}

.friend-form input {
    width: 350px;
    position: relative;
    margin-bottom: 0px;
}

#follow-submit {
    width: 150px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.232);  
    transition: .3s;
    background-color: rgb(255, 255, 255);
    border: 0px;
}

#follow-submit:hover {
    cursor: pointer;
    background-color: rgb(233, 233, 233);
    transform: scale(1.02);
}

#follow-submit:active {
    transform: scale(.99);
}

.suggestions-list {
    position: relative;
}

.add-a-friend {
    width: 100%;
    height: 10vh;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.friend-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    padding-bottom: 15px;
    height: 100%;
    width: 100%;
}

.friend-info img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center; 
}

.user-list {
    animation: opacityChange .8s ease-out;
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.172);    
    border-radius: 10px;  
    padding: 10px;  
    border: 1px solid rgb(143, 143, 143);
    display: flex;  
    flex-direction: column;
    justify-content: center;  
    align-items: center;  
    width: 30%;
    height: 100px;
    color: #333;
    font-weight: bold;
    gap: 20px;
    transition: .3s;
}

.user-list:hover {
    transform: translateY(-5px);
}

.friend-listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 30px;
    margin: 50px;;
    width: 100%;
    margin-top: 20px;
}

.friend-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.friend-info p {
    overflow-wrap: anywhere;
    word-break: break-word;
    white-space: normal;
    align-self: flex-start;
    font-size: 18px;
    font-weight: 100;
    margin: 5px;
    margin-left: 0px;
    margin-top: 0px;
}

.friend-buttons {
    display: flex;
    width: 100%;
    gap: 5%;
}

.friend-buttons button {
    width: 30%;
    padding: 5px;
    border-radius: 20px;
    border: 0px;
    background-color: rgb(255, 189, 138);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2.09977px 4.19955px 0px;
    transition: .3s;
}

.friend-buttons button:hover {
    background-color: rgb(249, 181, 129);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2.09977px 4.19955px 0px;
    cursor: pointer;
}

.friend-information {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px;
}

.friend-posts {
    display: flex;
    flex-direction: column;
}

.friend-posts h3 {
    margin: 0px;
    align-self: flex-start;
}

/* Responsive for Laptop Small  */
@media (max-width: 1024px) {
    .user-list {
        width: 45%;
    }

    .add-a-friend {
        height: auto;
    }

    .friend-form {
        flex-direction: column;
        gap: 20px;
    }
}

/* Responsive for Tablet and below  */
@media (max-width: 768px) {
    .user-list {
        width: 100%;
    }

    .add-a-friend {
        height: auto;
    }

    .suggestions-list {
        width: 100%;
    }

    .friend-form {
        flex-direction: column;
        width: 85%;
        gap: 20px;
    }

    .friend-form input {
        width: 60%;
    }
}

/* Responsive for Mobile L and below  */
@media (max-width: 425px) {

    .friend-form input {
        width: 100%;
    }

    .friend-buttons button {
        font-size: 8px;
    }

    .friend-information p {
        font-size: 10px;
    }
}