@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.login-container {
  width: 100vw;
  height: 100vh;
  background-color: #E8775B;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background-color: white;
  width: 75vw; /* Adjust width */
  max-width: 1152px;
  height: auto;
  max-height: 720px;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-left: -6vw; /* Move left */
}

.left-column {
  flex: 1;
  padding: 2rem;
  text-align: left;
  max-width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

.food-image {
  width: 90%;
  max-width: 400px; /* Ensures the image stays within white box */
  height: auto;
  object-fit: contain;
  border-radius: 0px;
}

.logo-login {
  width: 150px;
  margin-bottom: 5px;
  align-self: flex-start;
  margin-left: 0px; /* Ensure proper left alignment */
}

.title {
  font-family: 'Itim', cursive;
  font-size: 32px;
  color: #4A2E1F;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
}

.subtitle {
  font-size: 18px;
  color: #444;
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 1.3rem;
  color: #4a2c2a;
  font-family: 'Itim', cursive;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-size: 16px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
}

.remember-me {
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 13px;
}

.forgot-password {
  color: black;
  text-decoration: none;
}

.signup-btn {
  font-size: 18px;
  background: #43A32D;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.login-text {
  margin-top: 10px;
  font-size: 16px;
  color: black;
  text-align: left;
}

.sign-up-link {
  color: #43A32D;
  font-weight: bold;
  text-decoration: none;
}
