/* Global styles */


/* Centered container */
.reset-container {
    background-color: #c7745e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* White bhox */
.reset-box {
    font-family: 'Itim', cursive;
    background-color: white;
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

/* Logo */
.reset-logo {
    width: 250px;
    margin-bottom: 20px;
}

/* Title */
.reset-title {
    font-size: 35px;
    color: #42210b;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Labels */
label {

    display: block;
    font-weight: bold;
    font-size: 20px;
    color: #42210b;
    text-align: left;
    margin-bottom: 5px;
}

/* Input fields */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Button */
.reset-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.reset-button:hover {
    background-color: #45a049;
}
